.menu {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    z-index: 101;
    top: -350px;
    //top: 0;
    left: 0;
    width: 100vw;
    height: 200px;
    padding: 20px 0;

    background: rgba(0, 0, 0, .9);
    color: #fff;
    transition: 0.5s all;
    & ul {
        //width: 20%;
        & li {
            font-size: 18px;
            //width: 20%;
            margin: auto;
            padding: 10px 0;
            list-style: none;
            text-align: center;
            &:last-child {
                margin-bottom: 10px;
            }
        }
    }
    & a {
        color: #fff;
        text-decoration: none;
        transition: 0.4s all;
        &:hover {
            color: rgba(255, 255, 255, 0.65);
            text-decoration: underline;
        }
    }
    & .close-menu {
        //background: url("../img/shevron-white.png");
        ////background-size: 50px 50px;
        text-align: center;
        cursor: pointer;
        transition: 0.3s all;
        &:hover {
            color: rgba(255, 255, 255, 0.65);
        }
    }
    &_active {
        top: 0;
    }
}
