.menu
    ul
        li.menu-item
            a(href="#quadroPage") ГОТОВЫЕ РЕШЕНИЯ
        li.menu-item
            a(href="#benefitsPage") НАШИ ПРЕИМУЩЕСТВА
        li.menu-item
            a(href="#benefitsPage") КАТАЛОГ
        li.menu-item
            a(href="#contactsPage") КОНТАКТЫ
    .close-menu &#10006;
