.contacts-block
    h5.contacts-title.
        Официальный представитель euromodus в России
    .contacts-logo
        img(src="./img/nkg-logo.png")
    .contacts-list
        ul.label
            li
                span Адрес:
            li
                span Телефон:
            li
                span Телефон в Москве:
            li
                span работаем:
            li
                span E-mail:
        ul.requisites
            li
                a(href ="#") 117105, Москва, ул. Нагатинская, д.1, стр. 29.
            li
                a(href ="#") 8 (800) 500-24-89
            li
                a(href ="#") +7 (499) 504-41-52
            li
                a ПН - ПТ с 10:00 до 19:00
            li
                a(href ="#") info@ncg.ru.com