.section-type-header {
    height: 84px;
    background: rgba(0, 0, 0, 0.7);
}
.section-type-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 84px;
    color: #fff;
    & .phones {
        display: flex;
        flex-direction: column;
        & span {
            font-size: 12.5px;
            font-weight: 600;
            color: rgba(255, 255, 255, 0.7);
            font-variant: small-caps;
            &:first-child {
                padding-bottom: 6px;
            }

            & a {
                color: #fff;
                font-size: 14.5px;
                font-weight: 600;
                text-decoration: none;
                margin-left: 20px;
            }
        }
    }
    & h4 {
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 500;
        margin-left: 35px;
    }
    & .info {
        display: flex;
        flex-direction: column;
        font-weight: 600;
        & span {
            font-size: 12.5px;
            color: rgba(255, 255, 255, 0.7);
            font-variant: small-caps;
            &:first-child {
                padding-bottom: 6px;
            }

            & a {
                font-size: 14.5px;
                font-weight: 600;
                text-decoration: none;
                color: #fff;
                margin-left: 35px;
                font-variant: normal;
            }
            & span {
                color: #fff;
                font-size: 14.5px;
                margin-left: 15px;
            }
        }
        & .email {
            margin-left: 5px;
        }
    }
}
@media(max-width: 1280px) {
    .section-type-header {
        .section-type-content {
            padding: 0 50px;
        }
    }
}
@media(max-width: 991px) {
    .section-type-header {
        .section-type-content {
            h4 {
                margin-left: 0;
            }
            .sign {
                display: none;
            }
        }
        & .info {
            & span {
                & span {
                    margin: 0;
                }
                & a {
                    margin: 0;
                }
            }
        }
        & .phones {
            span {
                a {
                    margin-left: 0;
                }
            }
        }
    }
}
@media(max-width: 767px) {
    .section-type-header {
        .section-type-content {
            span {
                display: none;
            }
        }
    }
}
@media(max-width: 575px) {
    .section-type-header {

    }
    .section-type-content.section-type-content {
        padding: 0;
        h4 {
            position: absolute;
            left: 28px;
        }
    }
}