.section-type-header
    include ../burger/burger
    .section-type-header-rel
    .container
        .section-type-content
            .phones
                span
                    span.sign Телефон:
                    a(href="#") +7 (800) 500-24-89
                span
                    span.sign Телефон:
                    a(href="#") +7 (499) 504-41-52
            h4 euromodus
            .info
                span.time
                    span.sign Работаем:
                    span Пн-Пт
                        span 10:00-19:00
                span.email
                    span.sign E-mail:
                    a(href="#") ncg.ru.com
        include ../menu/menu
