//mixin glideSlider()
//    .glide
//        .glide__track(data-glide-el="track")
//            ul.glide__slides
//                li.glide__slide 0
//                li.glide__slide 1
//                li.glide__slide 2
//                li.glide__slide 3
//                li.glide__slide 4
//                li.glide__slide 5