extends layouts/default


block variables
	- const title = "gulp-pug-starter"

block content

	include pages/page

block scripts
	//script(type="text/javascript" src="js/import/jquery.min.js")
	script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	//script(src="js/vendor.min.js")
	script(src="js/import/fullpage.min.js")
	script(src="js/main.js")