.button-slim {
    & button {
        border: 1px solid rgba(255, 255, 255, 0.7);
        color: #fff;
        padding: 20px 82px 18px 82px;
        background: transparent;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        transition: 0.6s all;
        &:hover {
            color: rgba(255, 255, 255, 0.6);
            border-color: rgba(255, 255, 255, 0.5);
        }
    }
}
@media(max-height: 732px) {
    .button-slim {
        & button {
            padding: 18px 52px 14px 52px;
            font-size: 13px;
        }
    }
}
@media(max-width: 991px) {
    .button-slim {
        text-align: center;
        & button {
            padding: 18px 52px 14px 52px;
            font-size: 13px;
        }
    }
}