#header.header
    ul.header-menu
        li
            span
                span.sign Телефон:
                a(href="#") +7 (800) 500 24 89
        li
            span
                span.sign Телефон:
                a(href="#") +7 (499) 504 41 52
        li
            span(href="#")
                span.sign Работаем:
                span Пн-Пт
                span  10:00-19:00
