.features
    .features-block.features-block_left
        .features-item.features-item_left
            .features-item-frame.features-item-frame_left
                .features-item-descr
                    | Специализация
                    br
                    | на мебели для
                    br
                    | гостиниц
            .features-item-number 1.
        .features-item.features-item_left
            .features-item-frame.features-item-frame_left
                .features-item-descr
                    | Большой
                    br
                    | ассортимент
                    br
                    | цветов и моделей
            .features-item-number 2.

    .features-block.features-block_right
        .features-item.features-item_right
            .features-item-frame.features-item-frame_right
                .features-item-descr.features-item-descr_right
                    | Дизайн
                    br
                    | Made in Italy
            .features-item-number 3.
        .features-item.features-item_right
            .features-item-frame.features-item-frame_right
                .features-item-descr.features-item-descr_right
                    | Экологичность
                    br
                    | материалов
            .features-item-number 4.