.feedback-block
    h5.feedback-title.
        Свяжитесь с нами
    .feedback-form
        form
            .input-wrapper
                .field
                    input(placeholder="ВАШЕ ИМЯ" type="" name="name" data-rule="name")
                .field
                    input(placeholder="E-MAIL*" type="" name="email" data-rule="email")
                .field
                    input(placeholder="ГОРОД" type="" name="city" data-rule="shortdescr")
                .field
                    input(placeholder="НАЗВАНИЕ ОБЪЕКТА" type="" name="object" data-rule="shortdescr")
                .field
                    input(placeholder="СООБЩЕНИЕ" type="" name="message" data-rule="text")

            +button-slim("отправить")